<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'nonce-<%= nonce %>';"
    />
    <style>
      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      .node {
        stroke: #fff;
        stroke-width: 1.5px;
      }

      .link {
        stroke: #999;
        stroke-opacity: 0.6;
      }
    </style>
    <script nonce="<%= nonce %>">
      const vscode = acquireVsCodeApi();
    </script>
    <script
      nonce="<%= nonce %>"
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"
    ></script>
  </head>
  <body>
    <p>The graph display here</p>
  </body>
  <script nonce="<%= nonce %>">
    var width = 960,
      height = 500;

    var color = d3.scale.category20();

    var force = d3.layout
      .force()
      .charge(-120)
      .linkDistance(30)
      .size([width, height]);

    var svg = d3
      .select("body")
      .append("svg")
      .attr("width", width)
      .attr("height", height);

    d3.json(
      "https://gist.githubusercontent.com/mbostock/4062045/raw/4176c7d0c0c5ce15630d16072da0af67bb50eb6a/miserables.json",
      function (error, graph) {
        if (error) throw error;

        force.nodes(graph.nodes).links(graph.links).start();

        var link = svg
          .selectAll(".link")
          .data(graph.links)
          .enter()
          .append("line")
          .attr("class", "link")
          .style("stroke-width", function (d) {
            return Math.sqrt(d.value);
          });

        var node = svg
          .selectAll(".node")
          .data(graph.nodes)
          .enter()
          .append("circle")
          .attr("class", "node")
          .attr("r", 5)
          .style("fill", function (d) {
            return color(d.group);
          })
          .call(force.drag);

        node.append("title").text(function (d) {
          return d.name;
        });

        force.on("tick", function () {
          link
            .attr("x1", function (d) {
              return d.source.x;
            })
            .attr("y1", function (d) {
              return d.source.y;
            })
            .attr("x2", function (d) {
              return d.target.x;
            })
            .attr("y2", function (d) {
              return d.target.y;
            });

          node
            .attr("cx", function (d) {
              return d.x;
            })
            .attr("cy", function (d) {
              return d.y;
            });
        });
      }
    );
  </script>
</html>
